{% extends "layout.html" %}
{% block body %}
  <h1>node</h1>{{ node }}
  {% if node.conf %}
  <h2>conf</h2>
  <pre>{{ node.conf|pprint(True) }}</pre>
  {% endif %}
  <h2>results</h2>
  <ul>
  {% for result in results %}
    <li><h3>{{ result.method }}</h3>{{ result }}
    <pre>{{ result.data|pprint(True) }}</pre>
    </li>
  {% endfor %}
  </ul>
  <h2>parents</h2>
  <ul>
  {% for method, parents in method_parents.iteritems() %}
    <li><h3>{{ method }}</h3>
    <ul>
    {% for parent in parents %}
      <li><h4>{{ parent|link }}</h4></li>
    {% endfor %}
    </ul>
  {% endfor %}
  </ul>
  <h2>children</h2>
  <ul>
  {% for method, children in children.iteritems() %}
    <li><h3>{{ method }}</h3>
    <ul>
    {% for child in children %}
      <li><h4>{{ child|link }}</h4></li>
    {% endfor %}
    </ul>
  {% endfor %}
  </ul>
  <h2>peers</h2>
  <ul>
  {% for peer in peers %}
    <li><h4>{{ peer|link }}</h4></li>
  {% endfor %}
  </ul>
{% endblock %}

